doctype html
html
  head
    title Gourab Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/6.png")
                | GDA
            li #[a(href="/") Home]  
            li #[a(href="/") About]
            li #[a(href="/") Contact Us]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            
    block content
    footer#footer 
        | copyright 2021 GourabDanceAcademy.com | All right resolved